<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet" />
    <title>Customer Feedback</title>
    <!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Sky logo"/>
        <h1>Feedback</h1>
        <p>Sky Engineer Rating Page</p>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Footer &copy; 2023</p>
    </footer>

</body>
</html>
