{% extends "base_home.html" %}
{% block content %}
<p>Hello {{ customer_name }}, please rate {{ engineer_name }}</p>
<form action="/submit" method="post">
    <p>Please select a rating from 1 to 10</p>
    <input type="hidden" name="engineer_name" value='{{ engineer_name }}'>
    <label>
        <input type="radio" name="rating" value="1"> 1
    </label>
    <label>
        <input type="radio" name="rating" value="2"> 2
    </label>
    <label>
        <input type="radio" name="rating" value="3"> 3
    </label>
    <label>
        <input type="radio" name="rating" value="4"> 4
    </label>
    <label>
        <input type="radio" name="rating" value="5"> 5
    </label>
    <label>
        <input type="radio" name="rating" value="6"> 6
    </label>
    <label>
        <input type="radio" name="rating" value="7"> 7
    </label>
    <label>
        <input type="radio" name="rating" value="8"> 8
    </label>
    <label>
        <input type="radio" name="rating" value="9"> 9
    </label>
    <label>
        <input type="radio" name="rating" value="10"> 10
    </label>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}